.container{
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
    height: 37vh;
    align-items: center;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: darkgreen;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: darkolivegreen;
}